*{
	padding:0px;
	margin:0px;
}

body{
  background:url(../images/bg.png);
  background-repeat:no-repeat;
  min-height:100%;background-size:cover;}
  .signin-text{color:#333;font-size:18px;}
.panel-info-cust {
	background: #fff;
	position: relative;
	padding: 80px 58px 58px;
}
.signin-text {
	color: #333;
	font-size: 18px;
	border-bottom: 1px solid #ccc;
	display: inline-block;
	padding-bottom: 3px;
	margin-left: 14px;
}
.input-group-addon.input-gp-add-cust {
	background: transparent;
	border-style: solid;
	border-color: #ccc;
	border-width: 0px 0px 1px 0px;
	border-radius: 0px;
}
.form-control-cust{	background: transparent;
	border-style: solid;
	border-color: #ccc;
	border-width: 0px 0px 1px 0px;
	border-radius: 0px;box-shadow:0px 0px 0px #fff !important;}

.btn-login {
	background: #937e60 !important;
	border: 1px solid #937e60;
	width: 100%;
	padding: 10px;
	font-weight: 600;
	font-size: 17px;
	margin-top:10px;
}
.btn-login:hover {
	background: #937e60 !important;
	border: 1px solid #937e60;
	width: 100%;
	padding: 10px;
	font-weight: 600;
	font-size: 17px;
}
.checkbox-cust label{padding-left:0px;}
.nopad-both{padding:0px !important;}
.logo-insurance{
	text-align: center;
	margin: 0px auto;
	position: absolute;
	left: 0px;
	right: 0px;
	top: -53px;
}
.btn.btn-danger.btn-cancel {
	width: 100%;
	font-size: 18px;
	font-weight: 400;
	margin-top: 11px;
}
.width100{width:100%;}